Repository AY2021S1-CS2103T-W15-1/tp, pull requests merged in 2020-09, with the labels that each got.

#14 Update project website
  README.md
  docs/AboutUs.md
  docs/_config.yml
  docs/images/ChengJiyuqing.png
  docs/images/Ui.png
  docs/images/bluesky0911.png
  docs/images/jonfoocy.png
  docs/images/joshruien.png
  docs/images/tengjianling.png
  docs/images/yongmingyang.png
Labels: documentation

#17 update User & Developer Guide
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: Developer's Guide, User Guide, documentation

#18 Update DG use cases and UG 'add' feature
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: Developer's Guide, User Guide, documentation

#19 Update User Guide and Developer Guide
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: Developer's Guide, User Guide, documentation

#29 User guide, v1.1
  docs/UserGuide.md
Labels: User Guide, documentation

#30 Update project website
  docs/AboutUs.md
  docs/DeveloperGuide.md
  docs/images/chengjiyuqing.png
  docs/index.md
Labels: documentation

#28 Add terms to glossary
  docs/DeveloperGuide.md
Labels: Developer's Guide, documentation

#32 Update Developer Guide
  docs/DeveloperGuide.md
Labels: Developer's Guide, documentation

#31 Rearrange features
  docs/UserGuide.md
Labels: User Guide, documentation

#33 Edited User story & value prop & target Audience
  docs/DeveloperGuide.md
  src/addressbook.log.0
  src/config.json
  src/preferences.json
Labels: Developer's Guide, documentation
